*{
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 244, 127);
    margin: 0;
    text-align: center;
}
.canvas-container{
    margin:0 auto;
}
#meme-canvas{
    border: 1px solid black;
}